/* PHASE 3: Layout */

.content {
  width: 900px;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ccc;
  border-top: none;
  background: white;
}

.content-sidebar {
  min-height: 200px;
  width: 240px;
  /* background-color: blue; */
  border-right: 1px solid #ccc;
}

.content-main {
  min-height: 200px;
  width: 660px;
  /* background-color: green; */
}

footer {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-top: none;
  background: white;
  font-size: 14px;
  color: #aaa
}

footer .copyright {
  padding: 20px 20px;
}

.footer-nav ul {
  display: flex;
  padding-right: 10px;
}

footer a {
  display: inline-block;
  padding: 20px 10px;
}
footer a:hover {
  color: black;
}
